* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#getDog {
    padding: 10px;
    background: #ADD8E6;
    border-radius: 10px;
    border: none;
    width: 50%;
    margin: 0 auto; 
    display: grid;
    place-items: center; 
    margin-top: 10px;

}
#getDog:hover {
    cursor: pointer;
    background-color: #86C5D8;
}
#dogImage {
    display: grid;
    place-items: center; 
    height: 50vh;
}
#imageContainer {
    display: grid;
    place-items: center; 
    height: 50vh;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
}